<!-- LOGIN -->
<div
    transition:persist="login"
    id="login"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Sign in
                </h3>
                <button
                    type="button"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="login"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form id="login-form" class="space-y-4" action="#">
                    <div>
                        <label
                            for="email_login"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Your Email</label
                        >
                        <input
                            type="email"
                            name="email_login"
                            id="email_login"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[--color3] focus:border-ring-[--color3] block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="name@company.com"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="password_loin"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Your password</label
                        >
                        <input
                            type="password"
                            name="password_loin"
                            id="password_loin"
                            placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-[--color3] focus:border-ring-[--color3] dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required
                        />
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input
                                    id="remember_login"
                                    type="checkbox"
                                    value=""
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    required
                                />
                            </div>
                            <label
                                for="remember_login"
                                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >Remember me</label
                            >
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="w-full text-white bg-[--color3] hover:bg-[--background] font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >Login to your account</button
                    >
                    <div
                        class="text-sm font-medium text-gray-500 dark:text-gray-300"
                    >
                        Not registered?
                        <button
                            class="text-[--color3] hover:underline"
                            data-modal-target="register"
                            data-modal-toggle="register"
                        >
                            Create account
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- REGISTER -->

<div
    transition:persist="register"
    id="register"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Register
                </h3>
                <button
                    type="button"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="register"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form id="register-form" class="space-y-4" action="#">
                    <div>
                        <label
                            for="name_register"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Name</label
                        >
                        <input
                            type="text"
                            name="name_register"
                            id="name_register"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[--color3] focus:border-ring-[--color3] block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="example name"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="email_register"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Your email</label
                        >
                        <input
                            type="email"
                            name="email_register"
                            id="email_register"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[--color3] focus:border-ring-[--color3] block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="name@company.com"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="password_register"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Password</label
                        >
                        <input
                            type="password"
                            name="password_register"
                            id="password_register"
                            placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-[--color3] focus:border-ring-[--color3] dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="password_register_try"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Confirm password</label
                        >
                        <input
                            type="password"
                            name="password_register_try"
                            id="password_register_try"
                            placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-[--color3] focus:border-ring-[--color3] dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required
                        />
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input
                                    id="remember_register"
                                    type="checkbox"
                                    value=""
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    required
                                />
                            </div>
                            <label
                                for="remember_register"
                                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >Remember me</label
                            >
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="w-full text-white bg-[--color3] hover:bg-[--background] font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >Register</button
                    >
                    <div
                        class="text-sm font-medium text-gray-500 dark:text-gray-300"
                    >
                        Already have a account?
                        <button
                            class="text-[--color3] hover:underline"
                            data-modal-target="login"
                            data-modal-toggle="login"
                        >
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    document.addEventListener("click", (event: MouseEvent) => {
        const target = event.target as HTMLElement;
        const targetModalId = target.getAttribute("data-modal-target");

        if (targetModalId) {
            // Fechar todos os modais abertos, incluindo o fundo
            document
                .querySelectorAll<HTMLElement>(".modal-open")
                .forEach((modal) => {
                    modal.classList.add("hidden");
                    modal.classList.remove("modal-open");
                });

            // Abrir o modal alvo, incluindo o fundo
            const targetModal = document.getElementById(targetModalId);
            if (targetModal) {
                targetModal.classList.remove("hidden");
                targetModal.classList.add("modal-open");
            }
        }
    });
</script>
 -->

<script is:inline>
    document
        .getElementById("login-form")
        .addEventListener("submit", async (event) => {
            event.preventDefault();

            // Coleta os dados do formulário
            const email = document.getElementById("email_login").value;
            const password = document.getElementById("password_loin").value;

            try {
                const response = await fetch("/api/login", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ email, password }),
                });

                const result = await response.json();
                if (response.ok) {
                    console.log(JSON.stringify(result.user));
                    sessionStorage.setItem("User", JSON.stringify(result.user));
                    location.reload();
                } else {
                    alert(result.message || "Erro no login.");
                }
            } catch (error) {
                console.error("Erro ao fazer login:", error);
                alert("Erro no servidor.");
            }
        });

    // Manipula o registro
    document
        .getElementById("register-form")
        .addEventListener("submit", async (event) => {
            event.preventDefault();

            // Coleta os dados do formulário
            const name = document.getElementById("name_register").value;
            const email = document.getElementById("email_register").value;
            const password = document.getElementById("password_register").value;
            const confirmPassword = document.getElementById(
                "password_register_try",
            ).value;

            if (password !== confirmPassword) {
                alert("As senhas não coincidem.");
                return;
            }

            try {
                const response = await fetch("/api/register", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ name, email, password }),
                });

                const result = await response.json();
                consol;
                if (response.ok) {
                    console.log(JSON.stringify(result.user));
                    sessionStorage.setItem("user", JSON.stringify(result.user));
                    alert("Registro bem-sucedido!");
                    location.reload();
                } else {
                    alert(result.message || "Erro ao registrar.");
                }
            } catch (error) {
                console.error("Erro ao fazer registro:", error);
                alert("Erro no servidor.");
            }
        });
</script>
