---
import Layout from "@layouts/Layout.astro";
---

<Layout
    title="Dashboard"
    description="O teu relevante lugar de aluguer de roupa"
    keywords="Dashboard, stuff"
    canonical="https://outfit-oasis.com/dashboard"
>
    <h1>Dashboard</h1>
    <section></section>
</Layout>
