---
import Layout from "@layouts/Layout.astro";
import InventoryTable from "@components/InventoryTable.astro";
import { getInventory, getUserLogin } from "@lib/dbFunctions";
import { turso } from "@turso";

const email = "";
const pass = "";
const user = (await getUserLogin(email, pass)) || null;
const isStaff = user?.user_type === "staff" ? "block" : "hidden";

const items = await getInventory();
---

<Layout
	title="Home"
	description="O teu relevante lugar de aluguer de roupa"
	keywords="aluguer, roupa, "
	canonical="https://outfit-oasis.com"
>
	<h1 class="text-2xl font-bold mb-4">asasa</h1>
	<!-- {isStaff && <InventoryTable items={items} />} -->

	<section class="container">sdsdds</section>
</Layout>
