---
import Layout from "@layouts/Layout.astro";
---

<Layout
    title="inventory"
    description="O teu relevante lugar de aluguer de roupa"
    keywords="aluguer, roupa, "
    canonical="https://outfit-oasis.com"
>
    <h1>inventory</h1>
</Layout>
